/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(
        closest-side at 5% 10%, 
        rgb(0, 0, 0), 
        rgb(11, 54, 88) 1000%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 150rem;
    overflow: hidden;
}

.swing {
    width: 40rem;
    height: 20rem;
    background-color: rgba(206, 216, 91, 0.7);
    transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg);
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    transform-origin: top;
}

.swing-1 {
    animation: swingAnim 20s infinite ease-in-out;
}

@keyframes swingAnim {
    0% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(100rem);
    }

    20% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(21rem);
    }

    25% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(27rem);
    }

    35%,
    40% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(0);
    }

    50% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-60rem);
    }

    55% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-55rem);
    }

    65%,
    70% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-84rem);
    }

    100% {
        transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg) translateY(-800rem);
    }
}

.swing::before {
    content: "";
    width: 1rem;
    height: 100%;
    background-color: #b4bb65;
    position: absolute;
    transform: rotateY(90deg);
    transform-origin: left;
}

.swing::after {
    content: "";
    width: 100%;
    height: 1rem;
    position: absolute;
    background-color: #e2ec6c;
    bottom: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.circle {
    width: 3rem;
    height: 3rem;
    background-color: #c5c757;
    border-radius: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
}

.circle-1 {
    top: 1rem;
    left: 1rem;
}

.circle-2 {
    top: 1rem;
    right: 1rem;
}

.circle-3 {
    bottom: 1rem;
    right: 1rem;
}

.circle-4 {
    bottom: 1rem;
    left: 1rem;
}

.circle::before {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #e9d8d8;
    position: absolute;
    transform: translateZ(0.3rem);
}

.rope {
    height: 40rem;
    width: 0.3rem;
    background-color: #fff;
    position: absolute;
    transform: translateZ(20rem) rotateX(90deg) rotateY(90deg);
    transform-origin: top;
}

.rope-1 {
    top: 10rem;
    left: 2.5rem;
}

.rope-2 {
    top: 10rem;
    right: 2.5rem;
}

.rope::before {
    content: "";
    width: 0.3rem;
    height: 23rem;
    background-color: #fff;
    position: absolute;
    transform: translateY(-23rem) rotateZ(21deg);
    transform-origin: bottom;
}

.rope::after {
    content: "";
    width: 0.3rem;
    height: 23rem;
    background-color: #fff;
    position: absolute;
    transform: translateY(-23rem) rotateZ(-21deg);
    transform-origin: bottom;
}

